body{
  font-family: sans-serif;
  font-size: 14pt;
}

.calc-shell{
  text-align: center;
}

.calculator{
  display:inline-block;
  width:40%;
}

.report{
  display: inline-block;
  width:70vw;
  padding: 20px;
  text-align: left;
  line-height: 1.8;
}

.data-shell{
  text-align: center;
}

.data{
  display: inline-block;
}

.data-table-shell{
  outline-style: solid;
  background-color: white;
  max-width: 70vw;
  max-height: 70vh;
  overflow: scroll;
}



table {
  border-collapse: collapse;
  float:left;
  border-left: 0px;
  border-right: 0px;
}

th.rotate {
  /* Something you can count on */
  height: 150px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
  /* Magic Numbers */
  translate(16px, 57px)
  /* 45 is really 360 - 45 */
  rotate(270deg);
  width: 40px;
}
th.rotate > div > span {
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  color:black;
}
td {
  white-space: nowrap;
  text-align: left;
  padding: 10px 5px;
  border: 1px solid #000;
  min-width: 40px;
}
div.tab {
  float:right;
  width:60%;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
}


.code0 {
  background-color: rgb(220,255,220);
}
.code1 {
  background-color: rgb(255,255,220);
}
.code2 {
  background-color: rgb(255,220,220);
}
.code3 {
  background-color: rgb(220,220,220);
}


.contact-shell{
  text-align: center;
}

.contact{
  width:30%;
  display: inline-block;
  border-radius: 5px;
}

.contact:nth-child(odd){
  background-color: lightblue;
}

.contact:nth-child(even){
  background-color: lightgreen;
}

.spacer{
  height:5px;
}

button, input, select{
  height:30px;
  font-family: sans-serif;
  font-size: 14pt;
}

button.submit{
  border-radius: 10px;
  height: 70px;
  font-size: 40px;
  background-color: rgb(190,200,255);
}

button.submit:disabled{
  background-color: rgb(220,230,255);
  color: rgb(140,140,140);
}

/* gets rid of those arrows on number inputs */
/* firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* everyone else */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number']{
  width:70px;
}

input.initials{
  width:3em;
}

input.time{
  width:50px;
}

:disabled{
  background-color: lightgray;
}