body{
  font-family: sans-serif;
  font-size: 14pt;
}

.calc-shell{
  text-align: center;
}

.calculator{
  display:inline-block;
  width:40%;
}

.data-shell{
  text-align: center;
}

.data{
  display: inline-block;
}

.contact-shell{
  text-align: center;
}

.contact{
  width:30%;
  display: inline-block;
  border-radius: 5px;
}

.contact:nth-child(odd){
  background-color: lightblue;
}

.contact:nth-child(even){
  background-color: lightgreen;
}

.spacer{
  height:5px;
}

button, input, select{
  height:30px;
  font-family: sans-serif;
  font-size: 14pt;
}

/* gets rid of those arrows on number inputs */
/* firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* everyone else */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number']{
  width:70px;
}

input.initials{
  width:3em;
}

input.time{
  width:2em;
}

:disabled{
  background-color: lightgray;
}